.background{
    background-image: url(header.jpg);
    background-attachment: fixed;
    background-size:auto;
    margin: 0;
    
}
body{
    background-image: linear-gradient(to right, #E5BDF6, #D8DEDE)
}
.center{
    text-align: center;
    color: black;
    margin: 0;
}

.navborder{
    border: 2px;
    border-style:solid;
    text-align: center;
    margin-bottom: 5px;
}
.navborder li{
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    
}
aside{
    float: right;
    border: 2px;
    border-style:dashed;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 0;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#keket{
    float: right;
    height: 425px;
    width: 450px;
    margin-bottom: 10px;
    border: 3px;
    border-style: dashed;
    border-color: darkslategrey;
}
.footer{
    color:black;
    size: 100%;
    padding-left: 5px;
    border: 2px;
    border-style:solid;
    
}